/* Angular Material's prebuilt theme */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "node_modules/ladda/css/ladda";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

app-root {
    background: #000;
    height: 100%;
}

main {
    padding: 25px 80px;
}